<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yql.springsecuritywithjwt.mybatis.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.yql.springsecuritywithjwt.mybatis.mapper.SysUser">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="TINYINT"/>
        <result property="state" column="state" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,username,
        password,age,state
    </sql>

    <select id="getByUsername" resultType="com.yql.springsecuritywithjwt.mybatis.mapper.SysUser">
        select
        <include refid="Base_Column_List"></include>
        from sys_user
        where username = #{username};
    </select>
</mapper>
